---
interface Props {
    name : string;
    title: string;
    array: {property: string ; checked? : boolean}[];
}

const {array, title, name} = Astro.props;
---

    <fieldset slot="values">
        <legend>{title}</legend>
        {
            array.map(({property, checked}) =>{
                return <label translate="no" class="notranslate">
                            <input {name} type="radio" value={property} checked={checked} />
                            {property}
                        </label>
            })
        }
    </fieldset>

<style lang="scss">
    @use "../scss/settings/" as *;
    fieldset {
        --gaps: 1rem;
        --columns: 1;
        
        display: grid;
        grid-template-columns: repeat(var(--columns), minmax(max-content,1fr));
        gap: .8rem 1rem;
        align-content: start;
        
        @include media-Query(tabletSmall) {
            --columns: 2;
        }
        
    }
</style>
